/* 
@keyframes wiggle-horizontal {
    0% {
        transform:translateX(10px);
    }
    25% {
        transform:translateX(4px);
    }
    50% {
        transform:translateX(8px);
    }
    75% {
        transform:translateX(2px);
    }
    100% {
        transform:translateX(0px);
    }
} 
*/