/* Font family
 * 
 * Black: 800
 * Bold: 700;
 * Medium: 500;
 * Regular: 400;
 * Light: 300;
 */

/* Cera pro */
@font-face {
  font-family: "cera-black";
  src: url("../font/cera/Cera Pro Black.otf") format("opentype")
}

@font-face {
  font-family: "cera-bold";
  src: url("../font/cera/Cera Pro Bold.otf") format("opentype")
}

@font-face {
  font-family: "cera-medium";
  src: url("../font/cera/Cera Pro Medium.otf") format("opentype")
}

@font-face {
  font-family: "cera-regular";
  src: url("../font/cera/Cera Pro Regular.otf") format("opentype")
}

@font-face {
  font-family: "cera-light";
  src: url("../font/cera/Cera Pro Light.otf") format("opentype")
}

.font-cera-black, .font-ceta-800 {
	font-family: "cera-black";
}

.font-cera-bold, .font-ceta-700 {
  font-family: "cera-bold";
}

.font-cera-medium, .font-ceta-500 {
  font-family: "cera-medium";
}

.font-cera-regular, .font-ceta-400{
  font-family: "cera-regular";
}

.font-cera-light, .font-ceta-300 {
  font-family: "cera-light";
}


/* Font size */
.font {
  &-68 {
    font-size: 68px;
    line-height: 70px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-54 {
    font-size: 54px;
    line-height: 64px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-54 {
    font-size: 54px;
    line-height: 64px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-42 {
    font-size: 42px;
    line-height: 50px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-32 {
    font-size: 32px;
    line-height: 40px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-28 {
    font-size: 28px;
    line-height: 36px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-24 {
    font-size: 24px;
    line-height: 30px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

   &-20 {
    font-size: 20px;
    line-height: 26px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-16 {
    font-size: 16px;
    line-height: 22px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-14 {
    font-size: 14px;
    line-height: 20px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-12 {
    font-size: 12px;
    line-height: 16px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &-10 {
    font-size: 10px;
    line-height: 16px;

    h1, h2, h3, h4, h5, h6, p, a, span {
      font-size: inherit;
      line-height: inherit;
    }
  }

  @media(max-width: 1199px){
    &-68 {
      font-size: 54px;
      line-height: 64px;

      h1, h2, h3, h4, h5, h6, p, a, span {
        font-size: inherit;
        line-height: inherit;
      }
    }

    &-54 {
      font-size: 42px;
      line-height: 50px;

      h1, h2, h3, h4, h5, h6, p, a, span {
        font-size: inherit;
        line-height: inherit;
      }
    }

    &-42 {
      font-size: 36px;
      line-height: 42px;

      h1, h2, h3, h4, h5, h6, p, a, span {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  @media(max-width: 991px){
    &-68 {
      font-size: 42px;
      line-height: 50px;

      h1, h2, h3, h4, h5, h6, p, a, span {
        font-size: inherit;
        line-height: inherit;
      }
    }

    &-54 {
      font-size: 36px;
      line-height: 42px;

      h1, h2, h3, h4, h5, h6, p, a, span {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  @media(max-width: 767px) {
    &-32 {
      font-size: 28px;
      line-height: 36px;
    }

    &-20 {
      font-size: 16px;
      line-height: 22px;
    }

    &-16 {
      font-size: 14px;

    }
  }
}


/* Font style */
.font-uppercase, .font_uppercase {
	text-transform: uppercase;
}

.font-capitalize, .font_capitalize {
	text-transform: capitalize;
}
