#wpadminbar {
	.ab-top-menu>.menupop>.ab-sub-wrapper {
		display: none;
	}
	
	@media(max-width: 991px){
		display: none;
	}
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "cera-regular";
}

#main {
	margin-top: 0;
}

a {
	&:hover {

	}
}

ul {
	li {
		
	}
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

@media(min-width: 1440px){
	.container{
		max-width: 1250px;
	}
}

h1 {
	font-size: 68px;
	line-height: 70px;

	@media(max-width: 1199px){
	}

	@media(max-width: 991px){
	}
}

h2 {
	font-size: 54px;
	line-height: 64px;

	@media(max-width: 1199px){
	}

	@media(max-width: 991px){
	}
}

h3 {
	font-size: 32px;
	line-height: 40px;

	@media(max-width: 1199px){
	}

	@media(max-width: 991px){
	}
}

h4 {
	font-size: 28px;
	line-height: 36px;
}

h5 {
	font-size: 20px;
	line-height: 26px;
}

h6 {
	font-size: 16px;
	line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
	span, p {
		font-size: inherit !important;
		line-height: inherit !important;
	}
}

div, p {
	font-size: 16px;

	b, strong, em {
		font-family: "cera-medium";
	}
}

.orangetheme-anchor {
	transform: translateY(-180px);

	@media (max-width: $screen-sm-max) {
	    transform: translateY(-80px);
	}

	@media (max-width: $screen-xs-max) {
	    transform: translateY(-60px);
	}
}


.overflow_hidden {
	overflow: hidden !important;
}

.text_center, .text-center {
	text-align: center;
}

.text_left, .text-left {
	text-align: left;
}

.text_center, .text-center {
	text-align: center;
}

.text_right, .text-right {
	text-align: right;
}

.noclick {
	cursor: default !important;

	> a {
		cursor: default !important;
		pointer-events: none;
	}
}

.hide-sm {
	@media(max-width: 991px){
		display: none;
	}
}
.show-sm {
	display: none !important;
	
	@media(max-width: 991px){
		display: block !important;
	}
}

.hide-xs {
	@media(max-width: 767px){
		display: none !important;
	}
}
.show-xs {
	display: none !important;
	
	@media(max-width: 767px){
		display: block !important;
	}
}