/*.icon {
	&-lorem {
		position: relative;

		&:before {
			content: " ";
		    //-webkit-mask-image: url(../imgs/lorem.svg);
		    //mask-image: url(./imgs/lorem.svg);
		    height: 12px;
		    width: 12px;
		    background-color: red;
		    position: absolute;
		    -webkit-mask-repeat: no-repeat;
		    -webkit-mask-size: contain;
		    top: 2px;
		    left: 0;
		}
	}
}*/