.m0 {
	margin: 0 !important;
}

.p0 {
	padding: 0 !important;
}

/* Margin Top */

.mtop0 {
	margin-top: 0px !important;
}

.mtop10 {
	margin-top: 10px;
}

.mtop20 {
	margin-top: 20px;
}

.mtop30 {
	margin-top: 30px;
}

.mtop40 {
	margin-top: 40px;
}

.mtop50 {
	margin-top: 50px;
}

.mtop60 {
	margin-top: 60px;
}

.mtop70 {
	margin-top: 70px;
}

.mtop80 {
	margin-top: 80px;
}

.mtop90 {
	margin-top: 90px;
}

.mtop100 {
	margin-top: 100px;
}

/* Margin Bottom */

.mbottom0 {
	margin-bottom: 0px !important; 	
}

.mbottom10 {
	margin-bottom: 10px;
}

.mbottom20 {
	margin-bottom: 20px;
}

.mbottom30 {
	margin-bottom: 30px;
}

.mbottom40 {
	margin-bottom: 40px;
}

.mbottom50 {
	margin-bottom: 50px;
}

.mbottom60 {
	margin-bottom: 60px;
}

.mbottom70 {
	margin-bottom: 70px;
}

.mbottom80 {
	margin-bottom: 80px;
}

.mbottom90 {
	margin-bottom: 90px;
}

.mbottom100 {
	margin-bottom: 100px;
}

/* Padding Top */

.ptop0 {
	padding-top: 0px;
}

.ptop20 {
	padding-top: 20px;
}

.ptop30 {
	padding-top: 30px;
}

.ptop40 {
	padding-top: 40px;
}

.ptop50 {
	padding-top: 48px;
}

.ptop60 {
	padding-top: 60px;
}

.ptop70 {
	padding-top: 70px;
}

.ptop80 {
	padding-top: 80px;
}

.ptop90 {
	padding-top: 90px;
}

.ptop100 {
	padding-top: 100px;
}

.ptop150 {
	padding-top: 150px;
}

.ptop200 {
	padding-top: 200px;
}


/* Padding Bottom */

.pbottom0 {
	padding-bottom: 0px;
}

.pbottom20 {
	padding-bottom: 20px;
}

.pbottom30 {
	padding-bottom: 30px;
}

.pbottom40 {
	padding-bottom: 40px;
}

.pbottom50 {
	padding-bottom: 50px;
}

.pbottom60 {
	padding-bottom: 60px;
}

.pbottom70 {
	padding-bottom: 70px;
}

.pbottom80 {
	padding-bottom: 80px;
}

.pbottom90 {
	padding-bottom: 90px;
}

.pbottom100 {
	padding-bottom: 100px;
}

.pbottom150 {
	padding-bottom: 150px;
}

.pbottom200 {
	padding-bottom: 200px;
}

.pright0 {
	padding-right: 0;
}

.pleft0 {
	padding-left: 0;
}

/* Global setting padding */
.gptop0 {
	padding-top: 0px;
}

.gptop16 {
	padding-top: 16px;
}

.gptop20 {
	padding-top: 20px;
}

.gptop24 {
	padding-top: 24px;
}

.gptop30 {
	padding-top: 40px;
}

.gptop40 {
	padding-top: 40px;
}

.gptop50 {
	padding-top: 48px;
}

.gptop60 {
	padding-top: 60px;
}

.gpbottom0 {
	padding-bottom: 0;
}

.gpbottom16 {
	padding-bottom: 16px;
}

.gpbottom20 {
	padding-bottom: 20px;
}

.gpbottom24 {
	padding-bottom: 24px;
}

.gpbottom30 {
	padding-bottom: 30px;
}

.gpbottom40 {
	padding-bottom: 40px;
}

.gpbottom50 {
	padding-bottom: 48px;
}

.gpbottom60 {
	padding-bottom: 60px;
}