.carousel_block {
	overflow: hidden;

	.container {
		padding-bottom: 60px;

		.swiper-container {
			position: relative;

			.swiper-wrapper {
				.swiper-slide {
					height: 250px;
					background-size: cover;
					background-position: center;
				}
			}

			.swiper-pagination {
				bottom: -50px;
			}

			.swiper-scrollbar {
				bottom: -60px;
			}
		}
	}
}
	