/* Font family
 * 
 * Black: 800
 * Bold: 700;
 * Medium: 500;
 * Regular: 400;
 * Light: 300;
 */
/* Cera pro */
@font-face {
  font-family: "cera-black";
  src: url("../font/cera/Cera Pro Black.otf") format("opentype");
}
@font-face {
  font-family: "cera-bold";
  src: url("../font/cera/Cera Pro Bold.otf") format("opentype");
}
@font-face {
  font-family: "cera-medium";
  src: url("../font/cera/Cera Pro Medium.otf") format("opentype");
}
@font-face {
  font-family: "cera-regular";
  src: url("../font/cera/Cera Pro Regular.otf") format("opentype");
}
@font-face {
  font-family: "cera-light";
  src: url("../font/cera/Cera Pro Light.otf") format("opentype");
}
.font-cera-black, .font-ceta-800 {
  font-family: "cera-black";
}

.font-cera-bold, .font-ceta-700 {
  font-family: "cera-bold";
}

.font-cera-medium, .font-ceta-500 {
  font-family: "cera-medium";
}

.font-cera-regular, .font-ceta-400 {
  font-family: "cera-regular";
}

.font-cera-light, .font-ceta-300 {
  font-family: "cera-light";
}

/* Font size */
.font-68 {
  font-size: 68px;
  line-height: 70px;
}
.font-68 h1, .font-68 h2, .font-68 h3, .font-68 h4, .font-68 h5, .font-68 h6, .font-68 p, .font-68 a, .font-68 span {
  font-size: inherit;
  line-height: inherit;
}
.font-54 {
  font-size: 54px;
  line-height: 64px;
}
.font-54 h1, .font-54 h2, .font-54 h3, .font-54 h4, .font-54 h5, .font-54 h6, .font-54 p, .font-54 a, .font-54 span {
  font-size: inherit;
  line-height: inherit;
}
.font-54 {
  font-size: 54px;
  line-height: 64px;
}
.font-54 h1, .font-54 h2, .font-54 h3, .font-54 h4, .font-54 h5, .font-54 h6, .font-54 p, .font-54 a, .font-54 span {
  font-size: inherit;
  line-height: inherit;
}
.font-42 {
  font-size: 42px;
  line-height: 50px;
}
.font-42 h1, .font-42 h2, .font-42 h3, .font-42 h4, .font-42 h5, .font-42 h6, .font-42 p, .font-42 a, .font-42 span {
  font-size: inherit;
  line-height: inherit;
}
.font-32 {
  font-size: 32px;
  line-height: 40px;
}
.font-32 h1, .font-32 h2, .font-32 h3, .font-32 h4, .font-32 h5, .font-32 h6, .font-32 p, .font-32 a, .font-32 span {
  font-size: inherit;
  line-height: inherit;
}
.font-28 {
  font-size: 28px;
  line-height: 36px;
}
.font-28 h1, .font-28 h2, .font-28 h3, .font-28 h4, .font-28 h5, .font-28 h6, .font-28 p, .font-28 a, .font-28 span {
  font-size: inherit;
  line-height: inherit;
}
.font-24 {
  font-size: 24px;
  line-height: 30px;
}
.font-24 h1, .font-24 h2, .font-24 h3, .font-24 h4, .font-24 h5, .font-24 h6, .font-24 p, .font-24 a, .font-24 span {
  font-size: inherit;
  line-height: inherit;
}
.font-20 {
  font-size: 20px;
  line-height: 26px;
}
.font-20 h1, .font-20 h2, .font-20 h3, .font-20 h4, .font-20 h5, .font-20 h6, .font-20 p, .font-20 a, .font-20 span {
  font-size: inherit;
  line-height: inherit;
}
.font-16 {
  font-size: 16px;
  line-height: 22px;
}
.font-16 h1, .font-16 h2, .font-16 h3, .font-16 h4, .font-16 h5, .font-16 h6, .font-16 p, .font-16 a, .font-16 span {
  font-size: inherit;
  line-height: inherit;
}
.font-14 {
  font-size: 14px;
  line-height: 20px;
}
.font-14 h1, .font-14 h2, .font-14 h3, .font-14 h4, .font-14 h5, .font-14 h6, .font-14 p, .font-14 a, .font-14 span {
  font-size: inherit;
  line-height: inherit;
}
.font-12 {
  font-size: 12px;
  line-height: 16px;
}
.font-12 h1, .font-12 h2, .font-12 h3, .font-12 h4, .font-12 h5, .font-12 h6, .font-12 p, .font-12 a, .font-12 span {
  font-size: inherit;
  line-height: inherit;
}
.font-10 {
  font-size: 10px;
  line-height: 16px;
}
.font-10 h1, .font-10 h2, .font-10 h3, .font-10 h4, .font-10 h5, .font-10 h6, .font-10 p, .font-10 a, .font-10 span {
  font-size: inherit;
  line-height: inherit;
}
@media (max-width: 1199px) {
  .font-68 {
    font-size: 54px;
    line-height: 64px;
  }
  .font-68 h1, .font-68 h2, .font-68 h3, .font-68 h4, .font-68 h5, .font-68 h6, .font-68 p, .font-68 a, .font-68 span {
    font-size: inherit;
    line-height: inherit;
  }
  .font-54 {
    font-size: 42px;
    line-height: 50px;
  }
  .font-54 h1, .font-54 h2, .font-54 h3, .font-54 h4, .font-54 h5, .font-54 h6, .font-54 p, .font-54 a, .font-54 span {
    font-size: inherit;
    line-height: inherit;
  }
  .font-42 {
    font-size: 36px;
    line-height: 42px;
  }
  .font-42 h1, .font-42 h2, .font-42 h3, .font-42 h4, .font-42 h5, .font-42 h6, .font-42 p, .font-42 a, .font-42 span {
    font-size: inherit;
    line-height: inherit;
  }
}
@media (max-width: 991px) {
  .font-68 {
    font-size: 42px;
    line-height: 50px;
  }
  .font-68 h1, .font-68 h2, .font-68 h3, .font-68 h4, .font-68 h5, .font-68 h6, .font-68 p, .font-68 a, .font-68 span {
    font-size: inherit;
    line-height: inherit;
  }
  .font-54 {
    font-size: 36px;
    line-height: 42px;
  }
  .font-54 h1, .font-54 h2, .font-54 h3, .font-54 h4, .font-54 h5, .font-54 h6, .font-54 p, .font-54 a, .font-54 span {
    font-size: inherit;
    line-height: inherit;
  }
}
@media (max-width: 767px) {
  .font-32 {
    font-size: 28px;
    line-height: 36px;
  }
  .font-20 {
    font-size: 16px;
    line-height: 22px;
  }
  .font-16 {
    font-size: 14px;
  }
}

/* Font style */
.font-uppercase, .font_uppercase {
  text-transform: uppercase;
}

.font-capitalize, .font_capitalize {
  text-transform: capitalize;
}

/* Background Color */
.bg_white {
  background-color: #ffffff;
}

/* Font color */
.font-white {
  color: #ffffff;
}

/*
.btn {
	&:focus, &:active, &:visited {
    	outline: none;
    	box-shadow: none;
    }

	&-primary {
		&:hover {
		}
	}
}
*/
#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
  display: none;
}
@media (max-width: 991px) {
  #wpadminbar {
    display: none;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "cera-regular";
}

#main {
  margin-top: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1250px;
  }
}
h1 {
  font-size: 68px;
  line-height: 70px;
}
h2 {
  font-size: 54px;
  line-height: 64px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
}
h4 {
  font-size: 28px;
  line-height: 36px;
}

h5 {
  font-size: 20px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
  line-height: 22px;
}

h1 span, h1 p, h2 span, h2 p, h3 span, h3 p, h4 span, h4 p, h5 span, h5 p, h6 span, h6 p {
  font-size: inherit !important;
  line-height: inherit !important;
}

div, p {
  font-size: 16px;
}
div b, div strong, div em, p b, p strong, p em {
  font-family: "cera-medium";
}

.orangetheme-anchor {
  transform: translateY(-180px);
}
@media (max-width: 991px) {
  .orangetheme-anchor {
    transform: translateY(-80px);
  }
}
@media (max-width: 767px) {
  .orangetheme-anchor {
    transform: translateY(-60px);
  }
}

.overflow_hidden {
  overflow: hidden !important;
}

.text_center, .text-center {
  text-align: center;
}

.text_left, .text-left {
  text-align: left;
}

.text_center, .text-center {
  text-align: center;
}

.text_right, .text-right {
  text-align: right;
}

.noclick {
  cursor: default !important;
}
.noclick > a {
  cursor: default !important;
  pointer-events: none;
}

@media (max-width: 991px) {
  .hide-sm {
    display: none;
  }
}

.show-sm {
  display: none !important;
}
@media (max-width: 991px) {
  .show-sm {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .hide-xs {
    display: none !important;
  }
}

.show-xs {
  display: none !important;
}
@media (max-width: 767px) {
  .show-xs {
    display: block !important;
  }
}

.m0 {
  margin: 0 !important;
}

.p0 {
  padding: 0 !important;
}

/* Margin Top */
.mtop0 {
  margin-top: 0px !important;
}

.mtop10 {
  margin-top: 10px;
}

.mtop20 {
  margin-top: 20px;
}

.mtop30 {
  margin-top: 30px;
}

.mtop40 {
  margin-top: 40px;
}

.mtop50 {
  margin-top: 50px;
}

.mtop60 {
  margin-top: 60px;
}

.mtop70 {
  margin-top: 70px;
}

.mtop80 {
  margin-top: 80px;
}

.mtop90 {
  margin-top: 90px;
}

.mtop100 {
  margin-top: 100px;
}

/* Margin Bottom */
.mbottom0 {
  margin-bottom: 0px !important;
}

.mbottom10 {
  margin-bottom: 10px;
}

.mbottom20 {
  margin-bottom: 20px;
}

.mbottom30 {
  margin-bottom: 30px;
}

.mbottom40 {
  margin-bottom: 40px;
}

.mbottom50 {
  margin-bottom: 50px;
}

.mbottom60 {
  margin-bottom: 60px;
}

.mbottom70 {
  margin-bottom: 70px;
}

.mbottom80 {
  margin-bottom: 80px;
}

.mbottom90 {
  margin-bottom: 90px;
}

.mbottom100 {
  margin-bottom: 100px;
}

/* Padding Top */
.ptop0 {
  padding-top: 0px;
}

.ptop20 {
  padding-top: 20px;
}

.ptop30 {
  padding-top: 30px;
}

.ptop40 {
  padding-top: 40px;
}

.ptop50 {
  padding-top: 48px;
}

.ptop60 {
  padding-top: 60px;
}

.ptop70 {
  padding-top: 70px;
}

.ptop80 {
  padding-top: 80px;
}

.ptop90 {
  padding-top: 90px;
}

.ptop100 {
  padding-top: 100px;
}

.ptop150 {
  padding-top: 150px;
}

.ptop200 {
  padding-top: 200px;
}

/* Padding Bottom */
.pbottom0 {
  padding-bottom: 0px;
}

.pbottom20 {
  padding-bottom: 20px;
}

.pbottom30 {
  padding-bottom: 30px;
}

.pbottom40 {
  padding-bottom: 40px;
}

.pbottom50 {
  padding-bottom: 50px;
}

.pbottom60 {
  padding-bottom: 60px;
}

.pbottom70 {
  padding-bottom: 70px;
}

.pbottom80 {
  padding-bottom: 80px;
}

.pbottom90 {
  padding-bottom: 90px;
}

.pbottom100 {
  padding-bottom: 100px;
}

.pbottom150 {
  padding-bottom: 150px;
}

.pbottom200 {
  padding-bottom: 200px;
}

.pright0 {
  padding-right: 0;
}

.pleft0 {
  padding-left: 0;
}

/* Global setting padding */
.gptop0 {
  padding-top: 0px;
}

.gptop16 {
  padding-top: 16px;
}

.gptop20 {
  padding-top: 20px;
}

.gptop24 {
  padding-top: 24px;
}

.gptop30 {
  padding-top: 40px;
}

.gptop40 {
  padding-top: 40px;
}

.gptop50 {
  padding-top: 48px;
}

.gptop60 {
  padding-top: 60px;
}

.gpbottom0 {
  padding-bottom: 0;
}

.gpbottom16 {
  padding-bottom: 16px;
}

.gpbottom20 {
  padding-bottom: 20px;
}

.gpbottom24 {
  padding-bottom: 24px;
}

.gpbottom30 {
  padding-bottom: 30px;
}

.gpbottom40 {
  padding-bottom: 40px;
}

.gpbottom50 {
  padding-bottom: 48px;
}

.gpbottom60 {
  padding-bottom: 60px;
}

header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
header .navbar-toggler {
  box-shadow: none !important;
}

.gform_wrapper form input:focus, .gform_wrapper form select:focus, .gform_wrapper form textarea:focus {
  outline: none;
}

/*.icon {
	&-lorem {
		position: relative;

		&:before {
			content: " ";
		    //-webkit-mask-image: url(../imgs/lorem.svg);
		    //mask-image: url(./imgs/lorem.svg);
		    height: 12px;
		    width: 12px;
		    background-color: red;
		    position: absolute;
		    -webkit-mask-repeat: no-repeat;
		    -webkit-mask-size: contain;
		    top: 2px;
		    left: 0;
		}
	}
}*/
/* 
@keyframes wiggle-horizontal {
    0% {
        transform:translateX(10px);
    }
    25% {
        transform:translateX(4px);
    }
    50% {
        transform:translateX(8px);
    }
    75% {
        transform:translateX(2px);
    }
    100% {
        transform:translateX(0px);
    }
} 
*/
.example_block .content {
  padding-right: 40px;
}
@media (max-width: 991px) {
  .example_block .content {
    padding-right: 0px;
  }
}
.example_block img {
  border-radius: 8px;
}

.carousel_block {
  overflow: hidden;
}
.carousel_block .container {
  padding-bottom: 60px;
}
.carousel_block .container .swiper-container {
  position: relative;
}
.carousel_block .container .swiper-container .swiper-wrapper .swiper-slide {
  height: 250px;
  background-size: cover;
  background-position: center;
}
.carousel_block .container .swiper-container .swiper-pagination {
  bottom: -50px;
}
.carousel_block .container .swiper-container .swiper-scrollbar {
  bottom: -60px;
}

/*some default algolia styling*/
.algolia-search-wrapper #hits .ais-Hits .ais-Hits-list .ais-Hits-item {
  margin-bottom: 1rem;
}
.algolia-search-wrapper #hits .ais-Hits .ais-Hits-list .ais-Hits-item h2 {
  line-height: 2rem;
}
.algolia-search-wrapper #hits .ais-Hits .ais-Hits-list .ais-Hits-item h2 a {
  font-size: 24px;
  color: black;
}
.algolia-search-wrapper #hits .ais-Hits .ais-Hits-list .ais-Hits-item h2 a mark {
  background-color: rgba(0, 0, 0, 0.13);
}
.algolia-search-wrapper #hits .ais-Hits .ais-Hits-list .ais-Hits-item h2 a:hover {
  color: orange;
}
.algolia-search-wrapper #stats .ais-Stats {
  position: static;
  top: auto;
  font-size: inherit;
}

/*# sourceMappingURL=style.css.map */
