$search-result: black;
$search-result-hover: orange;
$search-result-line-height: 2rem;
$search-result-mb: 1rem;
$mark: rgb(0 0 0 / 13%);
$result-title: 24px;


/*some default algolia styling*/
.algolia-search-wrapper {
    //hits 
    #hits {
        .ais-Hits {
            .ais-Hits-list {
                .ais-Hits-item {
                    margin-bottom: $search-result-mb;
                    h2 {
                        line-height: 2rem;
                        a {
                            font-size: $result-title;
                            color: $search-result;
                            mark{
                                background-color: $mark;
                            } 
    
                            &:hover {
                                color: $search-result-hover;
                            }
                        }
                    }
                    
                }
            }
        }
    }


    //stats
    #stats {
        .ais-Stats {
            position: static;
            top: auto;
            font-size: inherit;
       }
    }

}