.blk_form {
	select,
	input,
	textarea {
		&.invalid {
			border: 2px solid #790000;
		}

		&:focus, &:active, &:visited {
	    	outline: none;
	    	box-shadow: none;
	    }

	}

	.form-messages {
		.error-message {
			color: #790000;
		    font-size: 1em;
		    font-weight: 700;
		    margin-bottom: 25px;
		    border-top: 2px solid #790000;
		    border-bottom: 2px solid #790000;
		    padding: 16px 0 16px 0;
		    clear: both;
		    width: 100%;
		    text-align: center;
		}
	}

	.gform_wrapper.gravity-theme #field_submit, .gform_wrapper.gravity-theme .gform_footer {
		display: block;
	}
}