.blk_form select.invalid,
.blk_form input.invalid,
.blk_form textarea.invalid {
  border: 2px solid #790000;
}
.blk_form select:focus, .blk_form select:active, .blk_form select:visited,
.blk_form input:focus,
.blk_form input:active,
.blk_form input:visited,
.blk_form textarea:focus,
.blk_form textarea:active,
.blk_form textarea:visited {
  outline: none;
  box-shadow: none;
}
.blk_form .form-messages .error-message {
  color: #790000;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 25px;
  border-top: 2px solid #790000;
  border-bottom: 2px solid #790000;
  padding: 16px 0 16px 0;
  clear: both;
  width: 100%;
  text-align: center;
}
.blk_form .gform_wrapper.gravity-theme #field_submit, .blk_form .gform_wrapper.gravity-theme .gform_footer {
  display: block;
}
